.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  width: 80%;
margin: auto;
}

.navbarmenu{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    color: #49557e;
    font-size: 18px;

}
.Navbar .logo{
    width: 150px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Navbar button{
    background-color: transparent;
    font-size:16px  ;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.Navbar button:hover{
background-color: #fff4f2;
}
.Navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.Navbar li{
    cursor:pointer ;
}
.search_icon{
    position: relative;
}
.search_icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right:-8px ;
}

@media (max-width: 987px) {
    .navbarmenu{
        display: none;
    }
    .Navbar .logo{
        width: 100px;
    }
    .Navbar button{
        background-color: transparent;
        font-size:10px  ;
        color: #49557e;
        border: 1px solid tomato;
        padding: 10px 30px;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.5s;
    }

    .search_icon{
        display: none;
    }
    
}